/* --------- This is CSS Reset Code --------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* --------- Begin your CSS Below here --------- */

.header {
	--nav-bg-color:rgb(206, 122, 66);
	width: calc(100% - 80px);
	height: 60px;
	background-color: var(--nav-bg-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 40px;
	color: white;
}

.title {
	margin-left: 20px;
	font-family: sans-serif;
}

nav {
	height: 100%;
}

.header button {
	background-color: var(--nav-bg-color);
	border: none;
	color: white;
	cursor: pointer;
	width: 100px;
	height: 100%;
}

.header button:hover {
	background-color: rgba(255, 255, 255, .5);
	color: black;
}

.footer{
	--nav-bg-color: #3f3f3f;
	width: calc(100% - 160px);
	height: 150px;
	background-color: var(--nav-bg-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 0;
	padding: 0px 80px;
	color: white;
	font-family: sans-serif;
}

.iconContainer {
	display: flex;
	justify-content: space-between;
	margin-top: 6px;
	padding: 0px 10px;
}

.icon {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgb(98, 137, 138);
	display: flex;
	justify-content: center;
	align-items: center;
}